<?xml version="1.0"?>
<!--
/**
 * Copyright © Perspective. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Perspective_ProductQA::productqa" title="Product Q&amp;A" sortOrder="100">
                    <resource id="Perspective_ProductQA::question_view" title="View Questions" sortOrder="10"/>
                    <resource id="Perspective_ProductQA::question_edit" title="Edit/Delete Questions" sortOrder="20"/>
                    <resource id="Perspective_ProductQA::question_answer" title="Provide Answers" sortOrder="30"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
